@import "breakpoints.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;

  @include landscape {
    flex-direction: row;
  }
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;

  @include medium-screen {
    background-color: #8a2be2;
  }
  @include big-screen {
    background-color: #a61;
  }
  @include biggest-screen {
    background-color: #c47;
  }
}
