* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 32px;
}
input,
textarea,
button,
select,
div {
  margin: 8px;
  display: block;
}
input[type="radio"] {
  display: inline;
  margin: 0px;
}
input[name="like"],
input[type="password"] {
  margin-top: 16px;
}
