.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-text {
  font-family: monospace;
  font-size: 1em;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.rect {
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  position: relative;
  animation: blinking, moving;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: 2s;
}
