[data-description="attributes"] {
    color: grey;
}

[data-description] {
    font-size: 24px;
}

a [href] [target] {
    color: green;
}

input [type="orange"] {
    background-color: orange;
}
